# Archivos de desarrollo
node_modules/
.storybook/
src/stories/

# Archivos de Storybook
**/*.stories.js
**/*.stories.jsx
**/*.stories.ts
**/*.stories.tsx
**/*.stories.d.ts
**/*.stories.d.ts.map
dist/stories/
dist/components/**/*.stories.*
dist/icons/**/*.stories.*

# Archivos de configuración
.eslintrc.js
.prettierrc
tsconfig.json
tsconfig.*.json
vite.config.js

# Archivos de prueba
**/*.test.js
**/*.test.jsx
**/*.test.ts
**/*.test.tsx

# Otros archivos
.git/
.github/
.vscode/

# Archivos específicos que no queremos publicar
dist/App.*
dist/main.*
